.snapjs-right .left-drawer,
.snapjs-left .right-drawer {
	display: none;
}

.content {
	background: white;
	z-index: 2;
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer 10+ */
}
.drawers {
	z-index: 1;
	position: absolute;
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  width: 265px;
	.drawer {
		position: absolute;
	  top: 0;
	  right: auto;
	  bottom: 0;
	  left: auto;
	  width: 265px;
	  height: auto;
	  overflow: auto;
	  -webkit-overflow-scrolling: touch;
	  -webkit-transition: width 0.3s ease;
	     -moz-transition: width 0.3s ease;
	      -ms-transition: width 0.3s ease;
	       -o-transition: width 0.3s ease;
	          transition: width 0.3s ease;
	}
	.drawer.left {
		left: 0;
	}
}

.content {
	nav {
		.menu-trigger {
			margin-top: 0.65em;
		}
	}
}

.container {
	padding: 40px;
}

.container.collection {
	padding: 0px;
}